version: "3.9"

services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: blink
    ports: ["5432:5432"]
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 3s
      retries: 10
    logging: { driver: json-file, options: { max-size: "10m", max-file: "3" } }


  redis:
    image: redis:7
    ports: ["6379:6379"]
    logging: { driver: json-file, options: { max-size: "10m", max-file: "3" } }


  mlflow:
    image: ghcr.io/mlflow/mlflow:v2.16.0
    command: mlflow server --host 0.0.0.0 --port 5000 --backend-store-uri /mlruns --default-artifact-root /mlruns
    volumes: ["./mlruns:/mlruns"]
    ports: ["5000:5000"]
    logging: { driver: json-file, options: { max-size: "10m", max-file: "3" } }


  api:
    build: .
    env_file: [ env/template-dev.env ]
    environment: { SERVICE_NAME: api }
    command: ["uv", "run", "uvicorn", "src.main.service:app", "--host", "0.0.0.0", "--port", "8080"]
    ports: ["8080:8080"]
    volumes: ["./mlruns:/mlruns"]
    depends_on: [postgres, redis, mlflow]
    logging: { driver: json-file, options: { max-size: "10m", max-file: "3" } }

  sampler:
    build: .
    env_file: [ env/template-dev.env ]
    environment: { SERVICE_NAME: sampler }
    command: ["uv", "run", "python", "-m", "src.main.sampler"]
    volumes: ["./data:/app/data:ro"]
    depends_on: [postgres]
    logging: { driver: json-file, options: { max-size: "10m", max-file: "3" } }


  # For local development purposes only
  # ingestor:
  #   build: .
  #   env_file: [ env/template-dev.env ]
  #   environment: { SERVICE_NAME: ingestor }
  #   command: ["uv", "run", "python", "-m", "src.main.ingestor"]
  #   depends_on: [postgres]
  #   logging: { driver: json-file, options: { max-size: "10m", max-file: "3" } }


  features:
    build: .
    env_file: [ env/template-dev.env ]
    environment: { SERVICE_NAME: features }
    command: ["uv", "run", "python", "-m", "src.main.features"]
    depends_on: [postgres, redis]
    logging: { driver: json-file, options: { max-size: "10m", max-file: "3" } }


  trainer:
    build: .
    env_file: [ env/template-dev.env ]
    environment: { SERVICE_NAME: trainer }
    command: ["uv", "run", "python", "-m", "src.main.train"]
    depends_on: [postgres, mlflow]
    volumes: ["./mlruns:/mlruns"]
    logging: { driver: json-file, options: { max-size: "10m", max-file: "3" } }
